@import "variables.css";

.projectsViewer{
    text-align: left;
    margin-top: 2rem;
    font-family: var(--font-primary-text);
    padding: 2rem 4vw;
    background-color: transparent;
}

.projectsViewer h1{
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
    color: var(--color-primary-text);
    font-family: var(--color-primary-text);
    font-weight: 500;
    text-shadow: none;
    
}

.container-projects{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 15px;
    padding: 40px 0;
}

.container-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

@keyframes spin {
    to{transform: rotate(360deg);}
}

.spinner {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: var(--trending-text-color);
    border-top-color: #e50914;
    animation: spin 1s linear infinite;
}

@media (max-width: 798px) {
    .projectsViewer h1{
        font-size: 1.4rem;
        text-align: center;
    }

    .container-projects{
        grid-template-columns: 1fr;
        padding: 10px;
    }
}