@import "variables.css";

.skills-container {
  max-width: 900px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.skills-title {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: var(--color-primary-text);
  font-family: var(--font-primary-text);
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  gap: 4rem;
  list-style: none;
  padding: 0;
}

.skill-card {
  background: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background 0.3s;
  cursor: pointer;
  margin: 10px auto;
  font-family: var(--font-primary-text);
}

.skill-name {
  margin-top: 5px;
  font-size: 1rem;
  font-weight: 500;
  color: var(--color-primary-text);
}




@media (max-width: 600px) {
  .skills-grid {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}