:root{
    
    --color-primary-text: #ffffff;
    --trending-text-color: #ff0000;
    --font-primary-text: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;

  
    --background-primary: #000000;
}
