@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.aboutMe {
  padding: 2rem;
  background-color: #f9fafb;
  border-radius: 12px;
  max-width: 650px;
  margin: 3rem auto;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease;
  text-justify: distribute-all-lines;
  font-family: 'ubuntu', sans-serif;
}

.aboutMe h2 {
  font-size: 2rem;
  color: #a32ff0;
  margin-bottom: 1.2rem;
}

.aboutMe p {
  font-size: 1.1rem;
  line-height: 1.7;
  margin-bottom: 1rem;
  color: #333;
}