@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.containerForm {
  display: flex;
  justify-content: center;
  margin-top: 5rem;
}

.form {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-row {
  display: flex;
  gap: 1rem;
}

.form-control {
  display: flex;
  flex-direction: column;
  width: 100%;
}

label {
  font-weight: 600;
  margin-bottom: 0.3rem;
  display: flex;
  align-items: center;
  gap: 0.4rem;
  color: #ffffff;
  font-family: 'ubuntu', sans-serif;
}

input,
textarea {
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: 1px solid #ccc;
  font-size: 1rem;
  outline: none;
  font-family: 'ubuntu', sans-serif;
}

button {
  padding: 0.7rem;
  border: none;
  border-radius: 0.3rem;
  background-color: #06d7a0;
  color: white;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  font-family: 'ubuntu', sans-serif;
}

.valid {
  display: inline-block;
}

.hide {
  display: none;
}

.valid-icon {
  color: #06d7a0;
  margin-left: 0.5rem;
}

.invalid-icon {
  color: red;
  margin-left: 0.5rem;
}
