.aside {
    background-color: rgb(150, 150, 150);
    position: fixed;
    top: 250px;
    left: 25px;
    width: 50px;
    height: auto;
    align-items: center;    /* o el ancho que quieras */
    border-radius: 50px;
}

.aside ul {
    display: flex;
    background-color: transparent;
    flex-direction: column;
    top: 0;
    list-style: none;
    padding: 0;
    align-items: center;
}

.aside li {
    background-color: transparent;
    margin: 10px 0;
    color: black;
}

.FaGithub,
.FaLinkedin,
.FaInstagram,
.FaFacebook {
    font-size: 2rem;
    margin: 2px 0;
}
.FaGithub{
    color:rgb(255, 255, 255);
}
.FaLinkedin{
    color: rgb(81, 56, 248);
}
.FaInstagram{
    color: rgb(247, 0, 255);
}
.FaFacebook{
    color: rgb(0, 0, 255);
}



.iconGithub {
    color: rgb(255, 255, 255);
}

.iconLinkedin {
    color: rgb(81, 56, 248);
}

.iconInstagram {
    color: rgb(247, 0, 255);
}

.iconFacebook {
    color: rgb(0, 0, 255);
}

.iconGithub:hover,
.iconLinkedin:hover,
.iconInstagram:hover,
.iconFacebook:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}