@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.navegator {
  display: flex;
  justify-content: center;
  background-color: transparent;
  padding: 1rem;

}

.navegator ul {
  display: flex;
  gap: 2rem;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item a {
  text-decoration: none;
  color: #ffffff;
  font-weight: 600;
  font-size: 1.1rem;
  transition: all 0.3s ease;
  font-family: 'ubuntu', sans-serif;
}

.nav-item a:hover {
  color: transparent;
  background-image: linear-gradient(90deg, #06d7a0, #00b3ff);
  background-clip: text;
  -webkit-background-clip: text;
}