.main {
    background-image: url('./assets/fondoPorfolio.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-attachment: fixed;
    min-height: 100vh;
}
